<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background-color: #F8F9FB;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>首页</title>

    <link th:href="${#httpServletRequest.getContextPath()}+'/assets/css/reset.css'" rel="stylesheet" type="text/css"/>
    <link th:href="${#httpServletRequest.getContextPath()}+'/assets/css/login-style.css'" rel="stylesheet"
          type="text/css"/>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/jquery-1.10.2.min.js'"
            type="text/javascript"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/jquery-validation/jquery.validate.min.js'"
            type="text/javascript"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/js/login.js?v=20180504'"
            type="text/javascript"></script>
</head>
<body>
<div class="page-container">
    <div class="row">
        <img th:src="@{/assets/img/jenkins.png}">
    </div>
</div>
</body>
<script type="text/javascript">
</script>
</html>