<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>查询结果</title>
    <link th:include="/user/statics :: globalsource"/>
</head>
<body>
<div class="page-right-container">
    <div th:include="/common/message::message_body"></div>
    <div class="row">
        <div class="iframe-content transition">
            <div class="row">
                <div class="portlet">
                    <div class="portlet-title">
                        <h4>查询条件</h4>
                        <span class="glyphicon glyphicon-chevron-down float-right" data-toggle="collapse"
                              data-target="#searchWrapper"></span>
                    </div>

                    <div class="portlet-body clearfix collapse in" id="searchWrapper">
                        <form class="margin-space-top" action="" id="searchForm">
                            <label class="form-label">目标主机</label>
                            <select class="form-input" name="hostId" id="hostId">
                                <option value="">-请选择-</option>
                                <option th:each="vo,item:${hostsMap}" th:text="${vo.value}"
                                        th:value="${vo.key}"></option>
                            </select>
                            <div class="input-wrapper">
                                <label class="form-label">服务器名称</label>
                                <input class="form-input" type="text" placeholder="" name="serverName"/>
                            </div>
                            <div class="col-md-12">
                                <div class="btn-wrapper">
                                    <a class="a-btn green" onclick="table.doSearch('dataTables');">查询<i
                                            class="glyphicon glyphicon-search"></i></a>
                                    <a class="a-btn green" onclick="table.doJumpUrl(saveUrl);">新增<i
                                            class="glyphicon glyphicon-plus"></i></a>
                                    <!--<a class="a-btn green" onclick="">导出EXCEL<i-->
                                    <!--class="glyphicon glyphicon-file"></i></a>-->
                                    <!--<a class="a-btn green" onclick="clickfun();">删除<i-->
                                    <!--class="glyphicon glyphicon-remove"></i></a>-->
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="portlet">
                    <div class="portlet-title">
                        <h4>查询列表</h4>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover" id="dataTables"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    var queryUrl = '/server/queryList.htm';
    var saveUrl = '/server/save.htm';

    $(function () {

        var columns = [
            // visible: false,switchable: false
            {checkbox: true},
            {field: 'serverName', title: '服务器名称'},
            {field: 'storagePath', title: '部署路径'},
            {
                title: '访问地址', formatter: function (value, row, index) {
                    return "<a target='_blank' href='" + row.address + "'>" + row.address + "</a>";
                }
            },
            {
                field: 'status', title: '状态', formatter: function (value, row, index) {
                    if (value >= 200 && value <= 400) {
                        return '已启动';
                    } else {
                        return '未启动';
                    }
                }
            },
            {field: 'createTimestamp', title: '创建时间', align: 'center'},
            {
                title: '操作', align: 'center', formatter: function (value, row, index) {
                    return "<a class='a-btn-ope' href='javascript:void(0)' onclick='startBuild();'>启动</span></a> " +
                        "<a class='a-btn-ope' href='javascript:void(0)' onclick='startBuild();'>停止</span></a> " +
                        "<a class='a-btn-ope' href='javascript:void(0)' onclick='startBuild();'>部署</span></a>";
                }
            }
        ];
        //运行方法
        table.showDataTable('dataTables', queryUrl, columns, 'searchForm', true);
        //选中事件
        table.onCheckRowEvent('dataTables', function (selectRecords) {
            //此处控制按钮状态
            console.debug(selectRecords);
        });
    });

</script>
</html>