<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="globalsource">

    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()}+'/assets/plugins/font-awesome/css/font-awesome.min.css'" type="text/css" />
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()}+'/assets/plugins/bootstrap/css/bootstrap.min.css'" />
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()}+'/assets/plugins/bootstrap-datepicker/css/datepicker.css'" />
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()}+'/assets/plugins/bootstrap-table/bootstrap-table.css'" />

    <!--自定义-->
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()}+'/assets/css/style.css'" />
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()}+'/assets/css/reset.css'" />
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()}+'/assets/css/overridebootstrap.css'" />

    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/jquery-1.10.2.min.js'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/bootstrap/js/bootstrap.min.js'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/bootbox/bootbox.min.js'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/bootstrap-table/bootstrap-table.js'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/bootstrap-table/bootstrap-table-zh-CN.js'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/bootstrap-treeview/bootstrap-treeview.js'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/jquery-validation/jquery.validate.min.js'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/plugins/jquery-validation/additional-methods.min.js'"></script>

    <!--自定义-->
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/js/menu.js?v=20180503'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/js/home.js?v=20180503'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/js/table.js?v=20180503'"></script>
    <script th:src="${#httpServletRequest.getContextPath()}+'/assets/js/extend.js?v=20180503'"></script>
    <script th:inline="javascript">
        var contextPath = [[${#httpServletRequest.getContextPath()}]];
    </script>

</head>
<body>

</body>
</html>