table {
    border: 2px solid windowtext;
}

td {
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    word-wrap: break-word;
    color: #000000;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    /*font-family: "宋体", "sans-serif";*/
    /*font-family: "仿宋", "monospace";*/
    border: 1px solid windowtext;
    padding: 3px 2px;
}

td > label {
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    /*font-family: "宋体", "sans-serif";*/
    /*font-family: "仿宋", "monospace";*/
}

.score:hover {
    background: #EEECE1;
    cursor: pointer;
}

.item-left {
    text-align: left;
    vertical-align: top;
}

.sum {
    text-align: right;
    font-weight: 700;
    height: 25pt;
}

.head {
    text-align: center;
    vertical-align: middle;
    background: #EEECE1;
    color: #000000;
    font-size: 12pt;
    font-weight: 700;
    font-style: normal;
    /*font-family: "仿宋", "monospace";*/
    border: 2px solid windowtext;
}

.parent-item {
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    word-wrap: break-word;
    color: #000000;
    font-size: 10pt;
    font-weight: 700;
    /*font-family: "仿宋", "monospace";*/
    /*border-top: 1px solid windowtext;*/
    /*border-right: 1px solid windowtext;*/
    /*border-bottom: 4px double windowtext;*/
    /*border-left: 2px solid windowtext;*/
}

textarea {
    resize: none;
}