<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--导入数据源配置-->
    <import resource="spring/datasource/spring-ds.xml"/>


    <!-- 加载配置文件 -->
    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>file:${config.home.dir}/cids_configs/dbconfig/database.properties</value>
                <value>file:${config.home.dir}/cids_configs/other/other.properties</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <!-- 忽略不能解析的Placeholder -->
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="properties" ref="configProperties"/>
    </bean>
</beans>