<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>查询结果</title>
    <link th:include="/user/statics :: globalsource"/>
</head>
<body>
<div class="page-right-container">
    <div th:include="/common/message::message_body"></div>
    <div class="row">
        <div class="iframe-content transition">
            <div class="row">
                <div class="portlet">
                    <div class="portlet-title">
                        <h4>查询条件</h4>
                        <span class="glyphicon glyphicon-chevron-down float-right" data-toggle="collapse"
                              data-target="#searchWrapper"></span>
                    </div>

                    <div class="portlet-body clearfix collapse in" id="searchWrapper">
                        <form class="margin-space-top" action="" id="searchForm">
                            <div class="input-wrapper">
                                <label class="form-label">应用名称</label>
                                <input class="form-input" type="text" placeholder="" name="appName"/>
                            </div>
                            <div class="input-wrapper">
                                <label class="form-label">视图名称</label>
                                <select class="form-input" name="viewName">
                                    <option value="">-请选择-</option>
                                    <option th:each="item:${viewNames}" th:text="${item}"
                                            th:value="${item=='all'?'':item}"/>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <div class="btn-wrapper">
                                    <a class="a-btn green" onclick="table.doSearch('dataTables');">查询<i
                                            class="glyphicon glyphicon-search"></i></a>
                                    <a class="a-btn green" onclick="save();">同步<i
                                            class="glyphicon glyphicon-plus"></i></a>
                                    <a class="a-btn green" onclick="startBuild();">构建<i
                                            class="glyphicon glyphicon-file"></i></a>
                                    <!--<a class="a-btn green" onclick="clickfun();">删除<i-->
                                    <!--class="glyphicon glyphicon-remove"></i></a>-->
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="portlet">
                    <div class="portlet-title">
                        <h4>查询列表</h4>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover" id="dataTables"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    var queryUrl = '/application/queryList.htm';
    var saveUrl = '/application/save.htm';
    var buildUrl = contextPath + '/application/build.htm'
    var queryBuildUrl = contextPath + '/application/queryBuild.htm'

    $(function () {


        var columns = [
            // visible: false,switchable: false
            {checkbox: true},
            {
                title: '序号', formatter: function (value, row, index) {
                    return "<span id='rowIndex" + row.appId + "" + "'>" + (index + 1) + "</span>";
                }
            },
            {field: 'appName', title: '应用名称'},
            {field: 'viewName', title: '视图名称'},
            {field: 'buildNum', title: '构建号'},
            {field: 'buildResult', title: '构建结果'},
            {field: 'buildDate', title: '构建时间'},
            {
                field: 'buildInfoUrl', title: 'Jenkins控制台', align: 'center',
                formatter: function (value, row, index) {
                    return "<a style='text-decoration: underline' target='_blank' href='" + value + "'>查看构建详情</a>";
                }
            }

        ];
        //运行方法
        table.showDataTable('dataTables', queryUrl, columns, 'searchForm', true);
        //选中事件
        table.onCheckRowEvent('dataTables', function (selectRecords) {
            //此处控制按钮状态
            console.debug(selectRecords);
        });
    });

    /**
     * 新增
     */
    function save() {
        var msg = "是否同步Jenkins应用信息到数据库?";
        bootbox.confirm({
            message: msg,
            buttons: {
                confirm: {
                    label: "确定"
                },
                cancel: {
                    label: "取消"

                }
            },
            callback: function (result) {
                if (result) {
                    table.doJumpUrl(saveUrl);
                } else {
                    return;
                }
            }
        });

    }

    function startBuild() {
        var row = table.isSelected()[0];
        var msg = "是否开始构建应用?";
        bootbox.confirm({
            message: msg,
            buttons: {
                confirm: {
                    label: "确定"
                },
                cancel: {
                    label: "取消"

                }
            },
            callback: function (result) {
                if (result) {
                    var index = $('#rowIndex' + row.appId).text();
                    $.ajax({
                        url: buildUrl,
                        type: 'POST',
                        DataType: 'json',
                        data: {'appName': row.appName},
                        success: function (response) {
                            if (response.success) {
                                if (response.retMsg == 'BUILDING' || response.retMsg == 'REBUILDING') {
                                    var v_img = $("<img src='" + contextPath + "/assets/img/loading.gif'>");
                                    $('#dataTables tr:eq(' + index + ') td:eq(5)').empty().text(response.retMsg).append(v_img);
                                    setTimeout(function () {
                                        check_app_func(row, index);
                                    }, 3000)
                                }
                            } else {
                                showErrMessage('应用构建失败,' + response.retMsg);
                            }
                        }
                    });
                } else {
                    return;
                }
            }
        });
    }

    function check_app_func(row, index) {
        $.ajax({
            url: queryBuildUrl,
            type: 'POST',
            DataType: 'json',
            data: {'appName': row.appName},
            success: function (response) {
                if (response.success) {
                    if (response.retMsg == 'BUILDING' || response.retMsg == 'REBUILDING') {
                        var v_img = $("<img src='" + contextPath + "/assets/img/loading.gif'>");
                        $('#dataTables tr:eq(' + index + ') td:eq(5)').empty().text(response.retMsg).append(v_img);
                        setTimeout(function () {
                            check_app_func(row, index);
                        }, 3000)
                    } else {
                        $('#dataTables tr:eq(' + index + ') td:eq(5)').empty().text(response.retMsg);
                    }
                }
            }
        });
    }
</script>
</html>