<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zzu.mysql.mapper.ApplicationMapper">
    <resultMap id="baseResultMap" type="cn.edu.zzu.mysql.pojo.Application">
        <id column="F_APP_ID" property="appId" jdbcType="INTEGER"/>
        <result column="F_APP_NAME" property="appName" jdbcType="VARCHAR"/>
        <result column="F_VIEW_NAME" property="viewName" jdbcType="VARCHAR"/>
        <result column="F_STORAGE_PATH" property="storagePath" jdbcType="VARCHAR"/>
        <result column="F_CREATE_TIMESTAMP" property="createTimestamp" jdbcType="TIMESTAMP"/>
        <result column="F_UPDATE_TIMESTAMP" property="updateTimestamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="cols">
        F_APP_ID,F_APP_NAME,F_VIEW_NAME,F_STORAGE_PATH
    </sql>

    <!--查询-->
    <select id="query" resultMap="baseResultMap">
        SELECT<include refid="cols"/>,F_CREATE_TIMESTAMP
        FROM T_GP_APPLICATION
        <where>
            <if test="appName!=null and appName!=''">
                AND F_APP_NAME like CONCAT('%',#{appName},'%')
            </if>
            <if test="viewName!=null and viewName!=''">
                AND F_VIEW_NAME like CONCAT('%',#{viewName},'%')
            </if>
        </where>
    </select>

    <!--计数-->
    <select id="count" resultType="Integer">
        SELECT COUNT(*)
        FROM T_GP_APPLICATION
        <where>
            <if test="appName!=null and appName!=''">
                AND F_APP_NAME like CONCAT('%',#{appName},'%')
            </if>
            <if test="viewName!=null and viewName!=''">
                AND F_VIEW_NAME like CONCAT('%',#{viewName},'%')
            </if>
        </where>
    </select>

    <!--插入-->
    <insert id="save" parameterType="cn.edu.zzu.mysql.pojo.Application">
        INSERT INTO T_GP_APPLICATION(F_APP_NAME, F_STORAGE_PATH, F_VIEW_NAME,F_CREATE_TIMESTAMP)
        VALUES (
        #{appName,jdbcType=VARCHAR},
        #{storagePath,jdbcType=VARCHAR},
        #{viewName,jdbcType=VARCHAR},
        now()
        )
    </insert>

    <!--更新-->
    <update id="update" parameterType="cn.edu.zzu.mysql.pojo.Application">
        UPDATE T_GP_APPLICATION
        <set>
            <if test="appId!=null and appId!=''">
                F_APP_ID=#{appId,jdbcType=VARCHAR},
            </if>
            <if test="appName!=null and appName!=''">
                F_APP_NAME=#{appName,jdbcType=VARCHAR},
            </if>
            <if test="viewName!=null and viewName!=''">
                F_VIEW_NAME=#{viewName,jdbcType=VARCHAR},
            </if>
            <if test="storagePath!=null and storagePath!=''">
                F_STORAGE_PATH=#{storagePath,jdbcType=VARCHAR},
            </if>
            F_UPDATE_TIMESTAMP=now()
        </set>
        <where>
            AND F_APP_ID=#{appId,jdbcType=VARCHAR}
        </where>
    </update>
</mapper>