<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zzu.mysql.mapper.DeployHostMapper">
    <resultMap id="baseResultMap" type="cn.edu.zzu.mysql.pojo.DeployHost">
        <id column="F_HOST_ID" property="hostId" jdbcType="INTEGER"/>
        <result column="F_HOST_NAME" property="hostName" jdbcType="VARCHAR"/>
        <result column="F_HOST_IP" property="hostIP" jdbcType="VARCHAR"/>
        <result column="F_LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
        <result column="F_PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="F_CREATE_TIMESTAMP" property="createTimestamp" jdbcType="TIMESTAMP"/>
        <result column="F_UPDATE_TIMESTAMP" property="updateTimestamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="cols">
        F_HOST_ID,F_HOST_NAME,F_HOST_IP,F_LOGIN_NAME,F_PASSWORD
    </sql>

    <select id="queryAll" resultMap="baseResultMap">
        SELECT<include refid="cols"/>,F_CREATE_TIMESTAMP
        FROM T_GP_DEPLOY_HOST
    </select>

    <select id="queryByPK" resultMap="baseResultMap">
        SELECT<include refid="cols"/>,F_CREATE_TIMESTAMP
        FROM T_GP_DEPLOY_HOST
        <where>
            AND F_HOST_ID=#{id}
        </where>
    </select>
    <!--查询-->
    <select id="query" resultMap="baseResultMap">
        SELECT F_HOST_ID,F_HOST_NAME,F_HOST_IP,F_LOGIN_NAME,F_CREATE_TIMESTAMP
        FROM T_GP_DEPLOY_HOST
        <where>
            <if test="hostName!=null and hostName!=''">
                AND F_HOST_NAME like CONCAT('%',#{hostName},'%')
            </if>
            <if test="hostIP!=null and hostIP!=''">
                AND F_HOST_IP like CONCAT('%',#{hostIP},'%')
            </if>
        </where>
    </select>

    <!--计数-->
    <select id="count" resultType="Integer">
        SELECT COUNT(*)
        FROM T_GP_DEPLOY_HOST
        <where>
            <if test="hostName!=null and hostName!=''">
                AND F_HOST_NAME like CONCAT('%',#{hostName},'%')
            </if>
            <if test="hostIP!=null and hostIP!=''">
                AND F_HOST_IP like CONCAT('%',#{hostIP},'%')
            </if>

        </where>
    </select>

    <!--插入-->
    <insert id="save" parameterType="cn.edu.zzu.mysql.pojo.DeployHost">
        INSERT INTO T_GP_DEPLOY_HOST(<include refid="cols"/>,F_CREATE_TIMESTAMP)
        VALUES (
        #{hostId,jdbcType=INTEGER},
        #{hostName,jdbcType=VARCHAR},
        #{hostIP,jdbcType=VARCHAR},
        #{loginName,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        now()
        )
    </insert>

</mapper>